#content {
    max-width:unset;
    width:unset;
}
#toggle-visibility, .sidebar-tab-button, .sidebar-button {
    border: 1px solid #2b405d;
    border-bottom-width:3px;
    margin:1px;
    margin-bottom:2px;
    background:#51658a;
    color:#ddedfd;
    padding:3px;
    box-shadow:0px 2px 4px 2px rgba(0,0,10,0.3);
    border-radius:2px;
}
.sidebar-tab-button {
    min-width:45px;
}
#toggle-visibility:hover, .sidebar-tab-button:hover .sidebar-button:hover {
    color:#a5a8cb;
}
#map-import-button {
    display: none;
    /*
    visibility:hidden;
    width:0;
    height:0;
    */
}
label {
    font-family: 'mplus';
    font-size: 13.3333px;
    box-sizing: border-box;
    display:inline-block;
    background-clip: border-box;
    align-items:flex-start;
    appearance: auto;
}
button {
    font-family: 'mplus';
}
#toggle-visibility:active, .sidebar-button:active,  .sidebar-tab-button:active, .sidebar-tab-button[selected=true]{
    box-shadow:unset;
    border-bottom-width:1px;
    position:relative;
    top:2px;
}
#program-container {
    padding:16px;
    flex-grow:1;
    padding-right:unset;
}
#program {
    color:#2b405d;
    background:#edf2fa;
    border:2px solid #3c5573;
    box-shadow:0px 0px 4px 2px rgba(0,0,10,0.2);
    padding:8px;
}
#display-container{
    display:flex;
}
#sidebar{
    border: 2px solid #3c5573;
    /* margin-left:8px; */
    max-width:200px;
    min-width:200px;
    padding:8px;
    font-family:monospace;
}
#sidebar-container{
    padding:8px;
    padding-top:0;
}
#highlighted-tile-display{
    margin: unset;
}
#display {
    border: 2px solid #3c5573;
    flex: 1;
}
.paint-tab {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:3px;
    border-bottom: 1px solid #3c5573;
}
select {
    border:1px solid #3c5573;
    font-family:monospace;
    text-align:center;
}
#tile-selection-display {
    padding: 1px;
    margin-right: 1px;
    border: 2px solid #3c5573;
    background-color:white;
}
#tile-selection-dropdown {
    width:-webkit-fill-available;
}
.map-tab-container {
    display:flex;
    flex-direction:column;
}
.map-tab {
    padding:3px;
    border-bottom: 1px solid #3c5573;
}
#map-dimensions-inputs > div {
    display: flex;
    justify-content:space-between;
}
.number {
    border:1px solid #3c5573;
    font-family:monospace;
    text-align:right;
    width:50%;
    margin: 1px 0px;
}
