html {
  background: url("walls/leftover.png") no-repeat center center fixed;
  image-rendering:pixelated;
  background-size: cover;
  font-family: "MS Mincho", "Georgia", serif;
  color: #fff;
}

h1 {
    text-align:end;
    font-size:16px;
    background: #767;
    border: 1px solid #fff;
    padding:3px;
    font-weight:normal;
    margin:auto;
}

#header-container {
    border:1px solid #000;
}
nav {
    display:flex;
    background:#fff;
    padding:1px 0px 1px 1px;
    border:1px solid #000;
    margin-top:4px;
}
nav>a, nav>date{
    background:linear-gradient(#767,#777);
    color:inherit;
    text-decoration:none;
    padding:3px;
    margin:0 1px 0 0;
    flex-grow:1;
    text-align:center;
}
nav>a:hover{
    color:#bbf;
}
#gang-stalking-blog{
    color:#333;
    background:#aaa;
    border:1px solid #fff;
    width:100%;
    padding: 12px;
}
#head-date{
    background:linear-gradient(#777,#767);
    color:white;
    padding:3px;
    border:1px solid white;
}
#date-container{
    display:inline-flex;
    border:1px solid black;
}
#article-container{
    margin:auto;
    display:flex;
    margin-top:4px;
    flex-grow:1;
    border:1px solid black;
}