body{
    background-size:cover;
}
p {
    background: #aaa;
    color: #333;
    border: 1px solid #fff;
    padding:3px;
    margin:0;
    display:flex;
    flex-grow:1;
}

div {
    display: inline-flex;
    border: 1px solid #000;
    margin:4px 0 4px 0;
    width:100%;
}